//
// Written by Synplify Pro 
// Product Version "V-2023.09M-3"
// Program "Synplify Pro", Mapper "map202309actp1, Build 008R"
// Sun Aug 17 18:32:02 2025
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\/usr/local/microchip/Libero_SoC_v2024.2/SynplifyPro/lib/generic/acg5.v "
// file 1 "\/usr/local/microchip/Libero_SoC_v2024.2/SynplifyPro/lib/vlog/hypermods.v "
// file 2 "\/usr/local/microchip/Libero_SoC_v2024.2/SynplifyPro/lib/vlog/umr_capim.v "
// file 3 "\/usr/local/microchip/Libero_SoC_v2024.2/SynplifyPro/lib/vlog/scemi_objects.v "
// file 4 "\/usr/local/microchip/Libero_SoC_v2024.2/SynplifyPro/lib/vlog/scemi_pipes.svh "
// file 5 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/polarfire_syn_comps.v "
// file 6 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/work/CORECORDIC_C0/CORECORDIC_C0_0/CORECORDIC_C0_CORECORDIC_C0_0_CordicLUT_par.v "
// file 7 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/Actel/DirectCore/CORECORDIC/4.1.100/rtl/vlog/core/cordic_kit.v "
// file 8 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/work/CORECORDIC_C0/CORECORDIC_C0_0/rtl/vlog/core/cordic_par.v "
// file 9 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/work/CORECORDIC_C0/CORECORDIC_C0_0/rtl/vlog/core/CORECORDIC.v "
// file 10 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/work/CORECORDIC_C0/CORECORDIC_C0.v "
// file 11 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/work/PF_SRAM_AHBL_AXI_C0/PF_TPSRAM_AHB_AXI_0/PF_SRAM_AHBL_AXI_C0_PF_TPSRAM_AHB_AXI_0_PF_TPSRAM.v "
// file 12 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/work/PF_SRAM_AHBL_AXI_C0/COREAXI4SRAM_0/rtl/vlog/core/CoreAXI4SRAM_MAINCTRL_ECC.v "
// file 13 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/work/PF_SRAM_AHBL_AXI_C0/COREAXI4SRAM_0/rtl/vlog/core/CoreAXI4SRAM_MAINCTRL.v "
// file 14 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/work/PF_SRAM_AHBL_AXI_C0/COREAXI4SRAM_0/rtl/vlog/core/CoreAXI4SRAM_SLVIF.v "
// file 15 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/work/PF_SRAM_AHBL_AXI_C0/COREAXI4SRAM_0/rtl/vlog/core/CoreAXI4SRAM.v "
// file 16 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/work/PF_SRAM_AHBL_AXI_C0/PF_SRAM_AHBL_AXI_C0.v "
// file 17 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/hdl/combiner.v "
// file 18 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/hdl/master.v "
// file 19 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/hdl/four_pr.v "
// file 20 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/hdl/modulator.v "
// file 21 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/hdl/counter.v "
// file 22 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/hdl/symmap.v "
// file 23 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/hdl/upsampler.v "
// file 24 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/work/my_design/my_design.v "
// file 25 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/MSS_syn_comps.v "
// file 26 "\/usr/local/microchip/Libero_SoC_v2024.2/SynplifyPro/lib/vhd2008/std.vhd "
// file 27 "\/usr/local/microchip/Libero_SoC_v2024.2/SynplifyPro/lib/vhd/snps_haps_pkg.vhd "
// file 28 "\/usr/local/microchip/Libero_SoC_v2024.2/SynplifyPro/lib/vhd2008/std1164.vhd "
// file 29 "\/usr/local/microchip/Libero_SoC_v2024.2/SynplifyPro/lib/vhd2008/std_textio.vhd "
// file 30 "\/usr/local/microchip/Libero_SoC_v2024.2/SynplifyPro/lib/vhd2008/numeric.vhd "
// file 31 "\/usr/local/microchip/Libero_SoC_v2024.2/SynplifyPro/lib/vhd/umr_capim.vhd "
// file 32 "\/usr/local/microchip/Libero_SoC_v2024.2/SynplifyPro/lib/vhd2008/arith.vhd "
// file 33 "\/usr/local/microchip/Libero_SoC_v2024.2/SynplifyPro/lib/vhd2008/unsigned.vhd "
// file 34 "\/usr/local/microchip/Libero_SoC_v2024.2/SynplifyPro/lib/vhd/hyperents.vhd "
// file 35 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/Actel/DirectCore/COREFIR_PF/3.0.121/rtl/vhdl/core/corefir_rtl_pack.vhd "
// file 36 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/Actel/DirectCore/COREFIR_PF/3.0.121/rtl/vhdl/core/enum_rtl_pack.vhd "
// file 37 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/work/COREFIR_PF_C0/COREFIR_PF_C0_0/rtl/vhdl/core/enum_PF/COREFIR_PF_C0_COREFIR_PF_C0_0_enumFIR_coefs.vhd "
// file 38 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/work/COREFIR_PF_C0/COREFIR_PF_C0_0/rtl/vhdl/core/enum_PF/COREFIR_PF_C0_COREFIR_PF_C0_0_enum_params.vhd "
// file 39 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/Actel/DirectCore/COREFIR_PF/3.0.121/rtl/vhdl/core/corefir_top_kit.vhd "
// file 40 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/Actel/DirectCore/COREFIR_PF/3.0.121/rtl/vhdl/core/enum_kit.vhd "
// file 41 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/Actel/DirectCore/COREFIR_PF/3.0.121/rtl/vhdl/core/enum_PF/adv_dly_line.vhd "
// file 42 "\/usr/local/microchip/Libero_SoC_v2024.2/SynplifyPro/lib/generic/acg5.vhd "
// file 43 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/Actel/DirectCore/COREFIR_PF/3.0.121/rtl/vhdl/core/enum_PF/enum_pad_g5.vhd "
// file 44 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/Actel/DirectCore/COREFIR_PF/3.0.121/rtl/vhdl/core/enum_PF/enum_macc_lib_g5.vhd "
// file 45 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/Actel/DirectCore/COREFIR_PF/3.0.121/rtl/vhdl/core/enum_PF/enum_tap_g5.vhd "
// file 46 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/Actel/DirectCore/COREFIR_PF/3.0.121/rtl/vhdl/core/enum_PF/enum_undernibble_g5.vhd "
// file 47 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/Actel/DirectCore/COREFIR_PF/3.0.121/rtl/vhdl/core/enum_PF/enum_nibble_g5.vhd "
// file 48 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/Actel/DirectCore/COREFIR_PF/3.0.121/rtl/vhdl/core/enum_PF/enum_row_g5.vhd "
// file 49 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/work/COREFIR_PF_C0/COREFIR_PF_C0_0/rtl/vhdl/core/enum_PF/enum_fir_adv_g5.vhd "
// file 50 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/work/COREFIR_PF_C0/COREFIR_PF_C0_0/rtl/vhdl/core/enum_PF/enum_fir_g5.vhd "
// file 51 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/work/COREFIR_PF_C0/COREFIR_PF_C0_0/rtl/vhdl/core/enum_PF/COREFIR.vhd "
// file 52 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/component/work/COREFIR_PF_C0/COREFIR_PF_C0.vhd "
// file 53 "\/usr/local/microchip/Libero_SoC_v2024.2/SynplifyPro/lib/nlconst.dat "
// file 54 "\/home/jessica/Desktop/github__echocore_jessica/qam_16/designer/my_design/synthesis.fdc "

`timescale 100 ps/100 ps
module enum_kitCountS_5_10_1 (
  count,
  N_199,
  init_rst,
  clk_lat_end,
  N_124,
  systola,
  clk,
  reset_arst_i
)
;
output [4:0] count ;
input N_199 ;
input init_rst ;
input clk_lat_end ;
input N_124 ;
input systola ;
input clk ;
input reset_arst_i ;
wire N_199 ;
wire init_rst ;
wire clk_lat_end ;
wire N_124 ;
wire systola ;
wire clk ;
wire reset_arst_i ;
wire VCC ;
wire N_80_i ;
wire N_171_i_Z ;
wire GND ;
wire N_173 ;
wire N_106_i ;
wire N_101_i ;
wire N_99_i ;
wire N_118 ;
// @40:314
  SLE \count_Z[1]  (
	.Q(count[1]),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(N_80_i),
	.EN(N_171_i_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @40:314
  SLE \count_Z[0]  (
	.Q(count[0]),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(N_173),
	.EN(N_171_i_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @40:314
  SLE \count_Z[4]  (
	.Q(count[4]),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(N_106_i),
	.EN(N_171_i_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @40:314
  SLE \count_Z[3]  (
	.Q(count[3]),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(N_101_i),
	.EN(N_171_i_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @40:314
  SLE \count_Z[2]  (
	.Q(count[2]),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(N_99_i),
	.EN(N_171_i_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @40:314
  CFG4 N_171_i (
	.A(systola),
	.B(N_124),
	.C(clk_lat_end),
	.D(init_rst),
	.Y(N_171_i_Z)
);
defparam N_171_i.INIT=16'hFFBF;
// @40:314
  CFG3 count_n3_i_o2 (
	.A(count[2]),
	.B(count[1]),
	.C(count[0]),
	.Y(N_118)
);
defparam count_n3_i_o2.INIT=8'h7F;
// @40:314
  CFG2 count_n0_i_a2 (
	.A(N_199),
	.B(count[0]),
	.Y(N_173)
);
defparam count_n0_i_a2.INIT=4'h2;
// @40:314
  CFG3 \count_RNO[1]  (
	.A(count[1]),
	.B(count[0]),
	.C(N_199),
	.Y(N_80_i)
);
defparam \count_RNO[1] .INIT=8'h60;
// @40:314
  CFG4 \count_RNO[4]  (
	.A(count[3]),
	.B(count[4]),
	.C(N_199),
	.D(N_118),
	.Y(N_106_i)
);
defparam \count_RNO[4] .INIT=16'hC060;
// @40:314
  CFG3 \count_RNO[3]  (
	.A(N_199),
	.B(count[3]),
	.C(N_118),
	.Y(N_101_i)
);
defparam \count_RNO[3] .INIT=8'h82;
// @40:314
  CFG4 \count_RNO[2]  (
	.A(count[2]),
	.B(count[1]),
	.C(count[0]),
	.D(N_199),
	.Y(N_99_i)
);
defparam \count_RNO[2] .INIT=16'h6A00;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* enum_kitCountS_5_10_1 */

module enum_kitDelay_bit_reg_7 (
  clk_lat_end,
  N_4_i,
  clk,
  reset_arst_i
)
;
output clk_lat_end ;
input N_4_i ;
input clk ;
input reset_arst_i ;
wire clk_lat_end ;
wire N_4_i ;
wire clk ;
wire reset_arst_i ;
wire [5:0] delayLine_Z;
wire VCC ;
wire GND ;
// @40:65
  SLE \delayLine[0]  (
	.Q(delayLine_Z[0]),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(N_4_i),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @40:65
  SLE \delayLine[1]  (
	.Q(delayLine_Z[1]),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(delayLine_Z[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(N_4_i)
);
// @40:65
  SLE \delayLine[2]  (
	.Q(delayLine_Z[2]),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(delayLine_Z[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(N_4_i)
);
// @40:65
  SLE \delayLine[3]  (
	.Q(delayLine_Z[3]),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(delayLine_Z[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(N_4_i)
);
// @40:65
  SLE \delayLine[4]  (
	.Q(delayLine_Z[4]),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(delayLine_Z[3]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(N_4_i)
);
// @40:65
  SLE \delayLine[5]  (
	.Q(delayLine_Z[5]),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(delayLine_Z[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(N_4_i)
);
// @40:65
  SLE \delayLine[6]  (
	.Q(clk_lat_end),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(delayLine_Z[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(N_4_i)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* enum_kitDelay_bit_reg_7 */

module enum_kitDelay_bit_reg_3 (
  delayLine_0,
  clk,
  reset_arst_i,
  datai_valid_minus_row
)
;
input delayLine_0 ;
input clk ;
input reset_arst_i ;
output datai_valid_minus_row ;
wire delayLine_0 ;
wire clk ;
wire reset_arst_i ;
wire datai_valid_minus_row ;
wire VCC ;
wire GND ;
// @40:65
  SLE \delayLine[1]  (
	.Q(datai_valid_minus_row),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(delayLine_0),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* enum_kitDelay_bit_reg_3 */

module enum_g5_latency_adv_11_2_3_2_2_2_6 (
  delayLine,
  datai_valid_minus_row,
  reset_c,
  async_rstn,
  FIRO_VALID_c,
  systola,
  async_rstn_i,
  clk,
  reset_arst_i
)
;
input [2:0] delayLine ;
output datai_valid_minus_row ;
input reset_c ;
input async_rstn ;
output FIRO_VALID_c ;
input systola ;
input async_rstn_i ;
input clk ;
input reset_arst_i ;
wire datai_valid_minus_row ;
wire reset_c ;
wire async_rstn ;
wire FIRO_VALID_c ;
wire systola ;
wire async_rstn_i ;
wire clk ;
wire reset_arst_i ;
wire [4:0] count;
wire init_rst_Z ;
wire GND ;
wire un2_coef_on_outpi_Z ;
wire VCC ;
wire datao_validi_Z ;
wire N_124 ;
wire N_78 ;
wire un1_coef_on_outpi_1_i_a2_3_Z ;
wire clk_lat_end ;
wire N_199 ;
wire N_4_i ;
// @49:536
  SLE init_rst (
	.Q(init_rst_Z),
	.ADn(GND),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(async_rstn_i),
	.EN(un2_coef_on_outpi_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @49:577
  SLE datao_validi (
	.Q(datao_validi_Z),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(N_124),
	.EN(N_78),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @49:588
  CFG2 datao_valid_pulse (
	.A(datao_validi_Z),
	.B(systola),
	.Y(FIRO_VALID_c)
);
defparam datao_valid_pulse.INIT=4'h8;
// @49:582
  CFG4 un1_coef_on_outpi_1_i_a2_3 (
	.A(count[4]),
	.B(count[3]),
	.C(count[2]),
	.D(count[0]),
	.Y(un1_coef_on_outpi_1_i_a2_3_Z)
);
defparam un1_coef_on_outpi_1_i_a2_3.INIT=16'h0004;
// @49:541
  CFG3 un2_coef_on_outpi (
	.A(async_rstn),
	.B(delayLine[2]),
	.C(delayLine[1]),
	.Y(un2_coef_on_outpi_Z)
);
defparam un2_coef_on_outpi.INIT=8'h75;
// @49:582
  CFG3 un1_coef_on_outpi_2_i_o2 (
	.A(reset_c),
	.B(delayLine[2]),
	.C(delayLine[1]),
	.Y(N_124)
);
defparam un1_coef_on_outpi_2_i_o2.INIT=8'h45;
// @49:582
  CFG4 un1_coef_on_outpi_1_i_0 (
	.A(systola),
	.B(count[1]),
	.C(un1_coef_on_outpi_1_i_a2_3_Z),
	.D(N_124),
	.Y(N_78)
);
defparam un1_coef_on_outpi_1_i_0.INIT=16'h80FF;
// @49:560
  CFG3 rst_syst_lat_i_a2 (
	.A(init_rst_Z),
	.B(N_124),
	.C(clk_lat_end),
	.Y(N_199)
);
defparam rst_syst_lat_i_a2.INIT=8'h40;
// @49:438
  CFG2 init_rst_RNITUKR7 (
	.A(N_124),
	.B(init_rst_Z),
	.Y(N_4_i)
);
defparam init_rst_RNITUKR7.INIT=4'h2;
// @49:561
  enum_kitCountS_5_10_1 syst_counter_0 (
	.count(count[4:0]),
	.N_199(N_199),
	.init_rst(init_rst_Z),
	.clk_lat_end(clk_lat_end),
	.N_124(N_124),
	.systola(systola),
	.clk(clk),
	.reset_arst_i(reset_arst_i)
);
  enum_kitDelay_bit_reg_7 shift_reg_1 (
	.clk_lat_end(clk_lat_end),
	.N_4_i(N_4_i),
	.clk(clk),
	.reset_arst_i(reset_arst_i)
);
  enum_kitDelay_bit_reg_3 async2sync_0 (
	.delayLine_0(delayLine[0]),
	.clk(clk),
	.reset_arst_i(reset_arst_i),
	.datai_valid_minus_row(datai_valid_minus_row)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* enum_g5_latency_adv_11_2_3_2_2_2_6 */

module enum_kitDelay_bit_reg_2_0 (
  delayLine_0,
  clk,
  reset_arst_i
)
;
output delayLine_0 ;
input clk ;
input reset_arst_i ;
wire delayLine_0 ;
wire clk ;
wire reset_arst_i ;
wire VCC ;
wire GND ;
// @40:65
  SLE \delayLine[0]  (
	.Q(delayLine_0),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(VCC),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* enum_kitDelay_bit_reg_2_0 */

module enum_pad_g5_3_2_2_0_0_0_12_0_4 (
  delayLine_0,
  reset_arst_i,
  clk
)
;
output delayLine_0 ;
input reset_arst_i ;
input clk ;
wire delayLine_0 ;
wire reset_arst_i ;
wire clk ;
wire GND ;
wire VCC ;
  enum_kitDelay_bit_reg_2_0 dvalid_pipe_0 (
	.delayLine_0(delayLine_0),
	.clk(clk),
	.reset_arst_i(reset_arst_i)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* enum_pad_g5_3_2_2_0_0_0_12_0_4 */

module enum_kitDelay_bit_reg_5 (
  delayLine,
  systola,
  datai_valid_minus_row,
  clk,
  reset_arst_i,
  async_rstn_i,
  async_rstn
)
;
output [2:1] delayLine ;
output systola ;
input datai_valid_minus_row ;
input clk ;
input reset_arst_i ;
output async_rstn_i ;
output async_rstn ;
wire systola ;
wire datai_valid_minus_row ;
wire clk ;
wire reset_arst_i ;
wire async_rstn_i ;
wire async_rstn ;
wire [3:3] delayLine_Z;
wire VCC ;
wire GND ;
  CFG1 \delayLine_RNI1E5P1[0]  (
	.A(async_rstn),
	.Y(async_rstn_i)
);
defparam \delayLine_RNI1E5P1[0] .INIT=2'h1;
// @40:65
  SLE \delayLine[0]  (
	.Q(async_rstn),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(datai_valid_minus_row),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @40:65
  SLE \delayLine_Z[1]  (
	.Q(delayLine[1]),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(async_rstn),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @40:65
  SLE \delayLine_Z[2]  (
	.Q(delayLine[2]),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(delayLine[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @40:65
  SLE \delayLine[3]  (
	.Q(delayLine_Z[3]),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(delayLine[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @40:65
  SLE \delayLine[4]  (
	.Q(systola),
	.ADn(VCC),
	.ALn(reset_arst_i),
	.CLK(clk),
	.D(delayLine_Z[3]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* enum_kitDelay_bit_reg_5 */

module enum_fir_adv_g5_work_corefir_pf_c0_rtl_0layer1 (
  reset_arst_i,
  clk,
  FIRO_VALID_c,
  reset_c
)
;
input reset_arst_i ;
input clk ;
output FIRO_VALID_c ;
input reset_c ;
wire reset_arst_i ;
wire clk ;
wire FIRO_VALID_c ;
wire reset_c ;
wire [2:0] delayLine;
wire datai_valid_minus_row ;
wire async_rstn ;
wire systola ;
wire async_rstn_i ;
wire GND ;
wire VCC ;
// @49:438
  enum_g5_latency_adv_11_2_3_2_2_2_6 latency_0 (
	.delayLine(delayLine[2:0]),
	.datai_valid_minus_row(datai_valid_minus_row),
	.reset_c(reset_c),
	.async_rstn(async_rstn),
	.FIRO_VALID_c(FIRO_VALID_c),
	.systola(systola),
	.async_rstn_i(async_rstn_i),
	.clk(clk),
	.reset_arst_i(reset_arst_i)
);
  enum_pad_g5_3_2_2_0_0_0_12_0_4 enum_pad_g5_0 (
	.delayLine_0(delayLine[0]),
	.reset_arst_i(reset_arst_i),
	.clk(clk)
);
  enum_kitDelay_bit_reg_5 dvalid_pipe_3 (
	.delayLine(delayLine[2:1]),
	.systola(systola),
	.datai_valid_minus_row(datai_valid_minus_row),
	.clk(clk),
	.reset_arst_i(reset_arst_i),
	.async_rstn_i(async_rstn_i),
	.async_rstn(async_rstn)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* enum_fir_adv_g5_work_corefir_pf_c0_rtl_0layer1 */

module COREFIR_PF_C0_COREFIR_PF_C0_0_enum_fir_g5_1_11_0_1_0_0_12_0_4_0_0_3_2_2_1_1_1_4_2 (
  reset_c,
  FIRO_VALID_c,
  clk,
  reset_arst_i
)
;
input reset_c ;
output FIRO_VALID_c ;
input clk ;
input reset_arst_i ;
wire reset_c ;
wire FIRO_VALID_c ;
wire clk ;
wire reset_arst_i ;
wire GND ;
wire VCC ;
// @50:221
  enum_fir_adv_g5_work_corefir_pf_c0_rtl_0layer1 \adv_enum.adv_enum_0  (
	.reset_arst_i(reset_arst_i),
	.clk(clk),
	.FIRO_VALID_c(FIRO_VALID_c),
	.reset_c(reset_c)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* COREFIR_PF_C0_COREFIR_PF_C0_0_enum_fir_g5_1_11_0_1_0_0_12_0_4_0_0_3_2_2_1_1_1_4_2 */

module COREFIR_PF_C0_COREFIR_PF_C0_0_COREFIR_PF_work_corefir_pf_c0_rtl_0layer1 (
  reset_arst_i,
  clk,
  FIRO_VALID_c,
  reset_c
)
;
input reset_arst_i ;
input clk ;
output FIRO_VALID_c ;
input reset_c ;
wire reset_arst_i ;
wire clk ;
wire FIRO_VALID_c ;
wire reset_c ;
wire GND ;
wire VCC ;
// @51:289
  COREFIR_PF_C0_COREFIR_PF_C0_0_enum_fir_g5_1_11_0_1_0_0_12_0_4_0_0_3_2_2_1_1_1_4_2 \enum_g5.enum_fir_g5  (
	.reset_c(reset_c),
	.FIRO_VALID_c(FIRO_VALID_c),
	.clk(clk),
	.reset_arst_i(reset_arst_i)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* COREFIR_PF_C0_COREFIR_PF_C0_0_COREFIR_PF_work_corefir_pf_c0_rtl_0layer1 */

module COREFIR_PF_C0 (
  reset_c,
  FIRO_VALID_c,
  clk,
  reset_arst_i
)
;
input reset_c ;
output FIRO_VALID_c ;
input clk ;
input reset_arst_i ;
wire reset_c ;
wire FIRO_VALID_c ;
wire clk ;
wire reset_arst_i ;
wire GND ;
wire VCC ;
// @52:209
  COREFIR_PF_C0_COREFIR_PF_C0_0_COREFIR_PF_work_corefir_pf_c0_rtl_0layer1 COREFIR_PF_C0_0 (
	.reset_arst_i(reset_arst_i),
	.clk(clk),
	.FIRO_VALID_c(FIRO_VALID_c),
	.reset_c(reset_c)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* COREFIR_PF_C0 */

module my_design (
  clk,
  reset,
  DOUT_VALID,
  FIRO_VALID
)
;
input clk ;
input reset ;
output DOUT_VALID ;
output FIRO_VALID ;
wire clk ;
wire reset ;
wire DOUT_VALID ;
wire FIRO_VALID ;
wire NN_1 ;
wire GND ;
wire VCC ;
wire reset_c ;
wire clk_ibuf_Z ;
wire FIRO_VALID_c ;
wire reset_arst_i ;
  CFG1 I_2_RNIQNG2 (
	.A(reset_c),
	.Y(reset_arst_i)
);
defparam I_2_RNIQNG2.INIT=2'h1;
// @24:21
  INBUF clk_ibuf (
	.Y(clk_ibuf_Z),
	.PAD(clk)
);
// @24:22
  INBUF reset_ibuf (
	.Y(reset_c),
	.PAD(reset)
);
// @24:26
  OUTBUF DOUT_VALID_obuf (
	.PAD(DOUT_VALID),
	.D(VCC)
);
// @24:27
  OUTBUF FIRO_VALID_obuf (
	.PAD(FIRO_VALID),
	.D(FIRO_VALID_c)
);
  CLKINT I_1 (
	.Y(NN_1),
	.A(clk_ibuf_Z)
);
  COREFIR_PF_C0 COREFIR_PF_C0_0 (
	.reset_c(reset_c),
	.FIRO_VALID_c(FIRO_VALID_c),
	.clk(NN_1),
	.reset_arst_i(reset_arst_i)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* my_design */

